/* CSS RESET AND NORMALIZATION   CSS CSS CSS CSS CSS CSS CSS CSS CSS  */
/* Remove padding */
body, ul, p, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
/* Remove hyperlink text decoration */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove bullets from list items */
ul {
    list-style-type: none;
}